<footer class=" py-10 footer">
  <div class="flex flex-wrap">
    <div class="flex flex-wrap w-full mb-8 w-full md:w-1/5">
      <div class="w-1/2 md:w-full">
        <p class="text-white mb-2 font-bold">Corporate</p>
        <ul>
          <li>Careers</li>
          <li>Contact Us</li>
          <li>Racing Schedule</li>
        </ul>
      </div>
    </div>

    <div class="flex flex-wrap w-full mb-8 w-full md:w-3/5">
      <div class="w-1/2 md:w-1/3">
        <p class="text-white mb-2 font-bold">Rush Brands</p>
        <ul>
          <li>Chrome Country</li>
          <li>Custom Vehicle Solutions</li>
          <li>Perfection Equipment</li>
          <li>Big Rig Truck Parts</li>

          <li class="md:hidden">Rush Bus Centers</li>
          <li class="md:hidden">Rush Crane Systems</li>
        </ul>
      </div>
      <div class="w-1/2 md:w-1/3">
        <p class="text-white mb-2">&nbsp;</p>
        <ul>
          <li class="hidden md:block">Rush Bus Centers</li>
          <li class="hidden md:block">Rush Crane Systems</li>
          <li>Rush Refuse Systems</li>
          <li>Rush Towing Systems</li>
          <li class="md:hidden">Rush Truck Financing</li>
          <li class="md:hidden">Rush Truck Insurance</li>
          <li class="md:hidden">Rush Truck Leasing </li>
          <li class="md:hidden">World Wide Tires</li>
        </ul>
      </div>
      <div class="w-1/2 md:w-1/3 hidden md:block">
        <p class="text-white mb-2">&nbsp;</p>
        <ul>
          <li>Rush Truck Financing</li>
          <li>Rush Truck Insurance</li>
          <li>Rush Truck Leasing </li>
          <li>World Wide Tires</li>
        </ul>
      </div>
    </div>

    <div class="flex flex-wrap w-full w-full md:w-1/5">
      <div class="w-1/2 md:w-full">
        <p class="text-white mb-2 font-bold">Connect with Us</p>
        <ul>
          <li>rush@trucking.com</li>
          <li>804-354-9831</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
