<section class="px-10 py-5 flex flex-col">
  <div class="flex">
    <div class="w-1/2 flex md:w-10/12">
      <img src="./assets/img/logo.png" alt="" class="mr-10 w-16">
      <ul class="items-center hidden md:flex">
        <li class="text-white mr-6">Truck Sales <img src="./assets/img/angle-bottom-icon.svg" alt="" class="inline-block ml-1"></li>
        <li class="text-white mr-6">Service <img src="./assets/img/angle-bottom-icon.svg" alt="" class="inline-block ml-1"></li>
        <li class="text-white mr-6">Parts <img src="./assets/img/angle-bottom-icon.svg" alt="" class="inline-block ml-1"></li>
        <li class="text-white mr-6">Electric Vehicles <img src="./assets/img/angle-bottom-icon.svg" alt="" class="inline-block ml-1"></li>
        <li class="text-white mr-6">About <img src="./assets/img/angle-bottom-icon.svg" alt="" class="inline-block ml-1"></li>
      </ul>
    </div>
    <div class="w-1/2 md:w-2/12 flex justify-end items-center">
      <img src="./assets/img/search-icon.svg" alt="" class="w-5 mr-6">
      <img src="./assets/img/phone-icon.svg" alt="" class="w-5 mr-6 hidden md:block">
      <img src="./assets/img/location-icon.svg" alt="" class="inline-block ml-1 hidden md:block" >
      <img src="./assets/img/bars-icon.svg" alt="" class="w-5 md:hidden">
    </div>
  </div>
</section>
