<section class="bg-white px-10 py-16">
  <div class="flex flex-wrap page-wrapper">
    <div class="w-full md:w-1/3">
      <h1 class="text-6xl text-custom-gold text-center">92%</h1>
      <p class="text-center w-2/3 mx-auto text-custom-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <div class="w-full md:w-1/3">
      <h1 class="text-6xl text-custom-gold text-center">< 2%</h1>
      <p class="text-center w-2/3 mx-auto text-custom-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <div class="w-full md:w-1/3">
      <h1 class="text-6xl text-custom-gold text-center">1.7M</h1>
      <p class="text-center w-2/3 mx-auto text-custom-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</section>
