::ng-deep {
  .banner {
    min-height: 40vh;
    background-image: url("../../../assets/img/home-2/bg.png");
    background-position: center 25%;
    background-size: 225%;
    background-repeat: no-repeat;
    @media screen and (min-width: 1024px) {
      background-position: center 10%;
      min-height: 70vh;
      background-size: cover;
    }
  }
}
