<div class="py-16 flex flex-wrap md:-mx-4 md:justify-center">
  <div class="w-full md:w-3/12 md:px-4 mb-8 md:mb-0 flex items-center">
    <div>
      <h2 class="text-2xl md:text-3xl text-white uppercase font-bold mb-5 leading-none">Find the right truck: </h2>
      <div>
        <mat-radio-group aria-label="Select an option" value="1">
          <mat-radio-button value="1" class="mr-5 text-white">New</mat-radio-button>
          <mat-radio-button value="2" class="text-white">Used</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="w-full md:w-6/12 md:px-4 flex flex-wrap md:-mx-4">
    <div class="w-full md:w-1/2 md:px-4">
      <mat-form-field appearance="fill" class="bg-white mb-5 md:mb-5 w-full">
        <mat-label>Vehicle Type</mat-label>
        <mat-select value="1" class="">
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-full md:w-1/2 md:px-4">
      <mat-form-field appearance="fill" class="bg-white mb-5 md:mb-5 w-full">
        <mat-label>Make</mat-label>
        <mat-select value="1" class="">
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-full md:w-1/2 md:px-4">
      <mat-form-field appearance="fill" class="bg-white mb-5 md:mb-0 w-full">
        <mat-label>Model</mat-label>
        <mat-select value="1" class="">
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-full md:w-1/2 md:px-4">
      <mat-form-field appearance="fill" class="bg-white mb-5 md:mb-0 w-full">
        <mat-label>Body Type</mat-label>
        <mat-select value="1" class="">
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="w-full md:w-3/12 md:px-4 flex items-end">
    <app-button>
      <span class="mr-4 text-white">Search Inventory</span> <img src="/assets/img/right-arrow-white.svg" class="inline-block">
    </app-button>
  </div>
</div>
