<div class="">
  <div class="main-service-box md:w-10/12 md:mx-auto md:mb-10">
    <app-simple-card class="mb-5 block">
      <h4 class="uppercase leading-none text-2xl mb-5 text-custom-info font-bold">We offer the services you deserve</h4>
      <p class="mb-5 text-base text-custom-info xl:leading-relaxed">
        Now included with every new vehicle purchase* is our total service management program, RushCare Complete.  Exclusively from Rush Truck Centers, RushCare Complete is an all-inclusive service solution that coordinates, monitors and expedites vehicle service and repairs through qualified service facilities across North America.
      </p>
      <a href="">
        <span class="inline-block text-custom-red mr-5">Learn More</span>
        <img src="/assets/img/right-arrow-red.svg" alt="" class="inline-block">
      </a>
    </app-simple-card>
  </div>
  <div class="flex flex-wrap md:-mx-5">
    <app-simple-card class="mb-10 md:mb-0 block w-full md:w-1/3 md:px-5 h-full">
      <h4 class="uppercase leading-none text-2xl mb-5 text-custom-info font-bold">Electric vehicles</h4>
      <p class="mb-5 text-base text-custom-info xl:leading-relaxed">
        From commercial trucks and passenger vehicles to school and commercial buses, the industry-leading brands we represent offer a wide variety of electric vehicles.
      </p>
      <a href="">
        <img src="/assets/img/right-arrow-red-large.svg" alt="">
      </a>
    </app-simple-card>
    <app-simple-card class="mb-10 md:mb-0 block w-full md:w-1/3 md:px-5 h-full">
      <h4 class="uppercase leading-none text-2xl mb-5 text-custom-info font-bold">financing solutions</h4>
      <p class="mb-5 text-base text-custom-info xl:leading-relaxed">
        Rush Truck Financing is your complete source for truck financing as well as short-term and extended financing options for parts and service purchases.
      </p>
      <a href="">
        <img src="/assets/img/right-arrow-red-large.svg" alt="">
      </a>
    </app-simple-card>
    <app-simple-card class="mb-10 md:mb-0 block w-full md:w-1/3 md:px-5 h-full">
      <h4 class="uppercase leading-none text-2xl mb-5 text-custom-info font-bold">section 179 deduction</h4>
      <p class="mb-5 text-base text-custom-info xl:leading-relaxed">
        Deduct up to $1,050,000 in tax incentives on new and used trucks and equipment leased or purchased and put into service by December 31, 2021.
      </p>
      <a href="">
        <img src="/assets/img/right-arrow-red-large.svg" alt="">
      </a>
    </app-simple-card>
  </div>
</div>
